/* Paleta de cor 

    Amarelo: #EFD665
    Azul: #31A9DC
    Cyan: #7AD6FD
    Verde: #56D581
    Cinza: #777777
    Grafite: #3E4140

*/

p,h1,h2,h3,a,ul {
    font-family: 'Poppins', sans-serif;
}

/* Header */

.header{
    background-color: #31A9DC;
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: flex-start;
}

.logo{
    width: 10rem;
    min-width: 10rem;
}

a {
    font-weight:700;
    text-decoration: none;
    color: #ffffff
}

.home{
    color: #EFD665;
}

.o-que-fazer{
    color: #EFD665;
}

.sobre-nos{
    color: #EFD665;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
}

.menu-item{
    margin-right: 2rem;
}

/* footer */

footer{
    background-color: #31A9DC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copy{
    font-weight: 600;
    color: #EFD665;
    margin-left: 1rem;
}

.footer-menu{
    margin-left: 20rem;
    margin-top: 1rem;
}

.footer-item{
    margin-right: 2rem;

}

/*Sobre Nós*/

.team{
    display:flex;
    flex-direction: row;
    margin-bottom: 5rem;
    margin-left: 4rem;

}
.team-img{
    width: 10rem;
}

.person{
    width: 15rem;
}

.equipe{
    color:#31A9DC;
    margin-left: 5rem;
    font-size: 2.5rem;
}

.name{
    font-weight: 700;
    color: #EFD665;
    font-size: 1.2rem;
}

.facts-text{
    font-weight: 300;
    color: #777777;
}

/* Home */

.banner{
    background-color: #7AD6FD;
    display:flex;
    flex-direction: row;
    padding: 2rem;
}

.plane-img{
    width: 33rem;
    margin-left: 5rem;
}


.banner-text{
    font-weight:500;
    margin-bottom: 1rem;
    color: #ffffff;
    margin-top: 5rem;
    margin-left: 7rem;
    font-size: 2.5rem;
    max-width: 25rem;
}

.icones{
    display:flex;
    flex-direction: row;
}

.icon{
    max-width: 5rem;
    margin-left: 10rem;
}

.icon-text{
    font-weight: 300;
    color: #777777;
    font-size: 1.5;
    padding: 2rem;
    text-align:left;
}

h2{
    color: #3E4140;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-size: 2rem;
}

.world-text{
    display:flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.project-text{
    margin-top: 5rem;
    margin-left: 2rem;
    max-width: 30rem;
    margin-left: 8rem;
}

.world{
    width: 20rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
}

hr {
    border: 1px solid #EFD665;
}

.plane-column{
    margin-top: 2.5rem;
}

/*O que fazer*/

.banner-destino{
    background-color:#7AD6FD;
    padding:8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-destino{
    color:#ffffff;
}

.search-bar{
    display: flex;
    flex-direction: row;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 40rem;
    font-family: 'Poppins', sans-serif;;
}

.btn {
    border-radius: 0.5rem;
    border-color: #EFD665;
    border-style: solid;
    background: #ffffff;
    color: #EFD665;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.info {
    display: flex;
    flex-direction: row;

}

.info-details {
    color: #3E4140;
    padding: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    padding: 1rem;
}

.rest-img {
    border-radius: 0.5rem;
}

.inside-img {
    display: flex;
    flex-direction: row;
    background-color: #7AD6FD;
    justify-content: space-around;
    font-weight: bold;
    border-radius: 0.5rem;
}

.details {
    display: flex;
    flex-direction: row;
    background-color: #EFD665;
    justify-content: space-around;
    border-radius: 0.5rem;
}

/*O que fazer Entretenimento e Restaurante */

.btn:hover,
.active {
    color: #ffffff;
    background-color: #EFD665;
}

/*Restaurante Details*/

.search-bar-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

.search-bar-2 {
    border: 3rem, solid, #3E4140;
    border-radius: 0.5rem;
    padding: 0.6rem;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.back-results {
    color: #EFD665;
}   

.item-detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img-left {
    float: left;
    padding-right: 2rem;
    min-width: 30%;
}

.details-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.estab-title {
    padding-right: 3rem;
}

.nota {
    padding-right: 3rem;
    color: #EFD665;
}

.money {
    color: #56D581;
}

.estab-text {
    width: 70%;
}

.map {
    width: 70%;
}

.endereco {
    color: #31A9DC;
    font-weight: bold;
}

.infos-estabelecimento {
    color: #EFD665;
    line-height: 0.3rem;
    font-weight: bold;
}