/* Paleta de cor 

    Amarelo: #EFD665
    Azul: #31A9DC
    Cyan: #7AD6FD
    Verde: #56D581
    Cinza: #777777
    Grafite: #3E4140

*/

/* Header */

.header{
    background-color: #31A9DC;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: flex-start;
}

.logo{
    width: 10rem;

}

a {
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    text-decoration: none;
    color: #ffffff

}

.home{
    color: #EFD665;
}

.o-que-fazer{
    color: #EFD665;
}

.sobre-nos{
    color: #EFD665;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-top: 0.8rem;
    margin-left: 20rem;
}

.menu-item{
    margin-right: 2rem;
}

/* footer */

footer{
    background-color: #31A9DC;
    display: flex;
    flex-direction: row;
}

.copy{
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    color: #EFD665;
}